body {
	font-family: 'Mandali', Arial, sans-serif;
}

/*Contenitori*/
body>div {
	background-color: rgb(235, 235, 235);
	display: inline-block;
	width: 300px;
	height: 360px;
	margin: 5px;
	position: relative;
	/*imposto parametri da transizionare in :hover*/
	transition-property: background-color;
  	transition-duration: 0.3s;
  	transition-timing-function: linear;
}

.product {
	width: 260px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* % sconto in alto a sinistra*/
p {
	background-color: green;
	padding: 1px;
	position: absolute;
	right: 0;
	margin: 0;
}

.red {
	background-color: red;
}

/* nome prodotto */
h2 {
	text-align: center;
	color: black;
	margin-top: 15px;
}

/* cuore */
.heart {
	height: 30px;
	position: absolute;
	margin: auto;
	top: 300px;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

/*Visualizzazione quando passi sopra il container col mouse*/
body>div:hover>.heart {
	display: block;
}

body>div:hover {
	background-color: grey;
}