body>div {
	background-color: rgb(235, 235, 235);
	display: inline-block;
	width:300px;
	height: 360px;
	margin-bottom: 15px;
	position: relative;
}

img {
	width: 270px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}